<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>{{.Doc.title}} | Formal Web</title>
</head>
<body>
  <h1>{{.Doc.title}}</h1>
  {{.Doc.body}}
</body>
