body {
  line-height: 1.4;
  color: #6b2121;
  background-color: floralwhite;
  margin: 1em auto 0 auto;
  padding: 20px;
  max-width: 400px;
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
}